name: Mirror to Personal Repo

on:
  push:
    branches: [ "main" ]

jobs:
  git-mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Push to Mirror
        env:
          TARGET_URL: "https://x-access-token:${{ secrets.CLIENT_PAT }}@github.com/AbinayanRatna/testing-github-shelly.git"
        run: |
          git remote add mirror "$TARGET_URL"
          git push --mirror mirror
