name: Mirror to Client Repo

on:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Mirror to client repo
        env:
          TOKEN: ${{ secrets.CLIENT_PAT }}
        run: |
          git push --mirror https://AbinayanRatna:$TOKEN@github.com/AbinayanRatna/testing-github-shelly.git
